<footer class="site-footer">
    <div class="row">
      <div class="col-12 col-sm-6 col-md-3 col-lg-3">
        <div class="site-logo">
          <%= link_to root_path, alt:'BrownBro Production' do %>
            <%= image_tag "logo.png" %>
          <% end %>
        </div>
        <div class="copyright">
          © BrownBro Production
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-3 col-lg-3">
        <div id="menu_1" class="nav-menu">
          <h6 class="nav-menu-title">Menu</h6>
          <div class="menu-details">
            <ul class="menu-list">
              <li class="menu-item">
                <%= link_to "NOS METIERS", nosmetiers_path %>
              </li>
              <li class="menu-item">
                <%= link_to "NOS PROJETS", projects_path  %>
              </li>
              <li class="menu-item">
                <%= link_to "CONTACT", new_contact_path  %>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-3 col-lg-3">
        <div class="nav-menu" id="menu_2">
          <h6 class="nav-menu-title">Social</h6>
          <div class="social-links">
            <a href="https://www.youtube.com/channel/UCcOXM_pcslWkH8lROJ3XPNg"><i class="fab fa-youtube"></i></a>
            <a href=""><i class="fab fa-facebook-f"></i></a>
            <a href=""><i class="fab fa-instagram"></i></a>
            <a href=""><i class="fab fa-linkedin"></i></a>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-3 col-lg-3">
        <h6 class="nav-menu-title">Contactez-nous</h6>
        <div class="contacts">
          <div class="contact-row" bis_skin_checked="1">
            <i class="fa-regular fa-phone"></i>
            <span>+33 (0) 6 64 30 49 08 Virgile</span>
          </div>
          <div class="contact-row" bis_skin_checked="1">
            <i class="fa-regular fa-phone"></i>
            <span>+33 (0) 6 64 30 49 08 Virgile</span>
          </div>
          <div class="contact-row" bis_skin_checked="1">
            <i class="fa-thin fa-envelope"></i>
            <span>contact@brownbroproduction.com</span>
          </div>
        </div>
      </div>
    </div>
</footer>
