<div class="container">
  <%= render 'shared/navbar' %>
</div>

<div class="container">
  <h1>Ajouter une catégorie</h1>
  <div class="mt-5">
    <%= simple_form_for [@project] do |f| %>
      <%= f.input :title %>
      <%= f.input :video_url %>
      <%= f.input :description, as: :text %>
      <%= f.submit "Ajouter", class: "button-form-new" %>
    <% end %>
  </div>
</div>
