<div class="container">
  <%= render 'shared/navbar' %>
</div>

<div class="container">
  <h1>Ajouter un projet</h1>
  <div class="mt-5">
    <%= simple_form_for [@project] do |f| %>
      <%= f.input :title, label: "Nom du projet" %>
      <%= f.input :video_url, label: "URL de la vidéo" %>
      <%= f.input :description, as: :text %>
      <%= f.input :categs, as: :check_boxes, collection: Category.all.each {|category| category.title}, label: "Catégories" %>
      <%= f.input :photo, as: :file %>
      <%= f.submit "Ajouter", class: "button-form-new" %>
    <% end %>
  </div>
</div>
